<div class="card mt-3 mb-lg-4 font-size-3 d-print-none">
    <div
            class="card-header font-size2 text-uppercase text-grey font-weight-bold d-flex px-3 px-lg-4"
    >
        {{ "Similar news"|t }}
    </div>
    <div class="card-body p-0 p-lg-4">
        <div
                class="owl-carousel owl-theme related-news-carousel p-3 p-lg-0"
        >
            {{ rows }}
        </div>
    </div>
    <!-- Start of carousel controls -->
    <div
            class="card-footer border-top p-0 d-flex justify-content-between"
    >
        <button
                class="related-news-carousel-prev btn py-3 shadow-none rounded-0 text-dark-silver border-right"
        >
            <i class="icon-angle-pointing-to-left"></i>
        </button>
        <div
                class="related-news-carousel-dots owl-dots d-flex align-items-center"
        ></div>
        <button
                class="related-news-carousel-next btn py-3 shadow-none rounded-0 text-dark-silver border-left"
        >
            <i class="icon-angle-arrow-pointing-to-right"></i>
        </button>
    </div>
    <!-- End of carousel controls -->
</div>
