<section class="history-full">
    <span class="hf-arrow"></span>

    <div class="hf-years-list">
        {{ content.field_history_years }}
    </div>

    <div class="hf-start">
        <img class="hf-start-img" src="{{ theme_path('images/logo-icon.svg') }}" alt="UGT">
        <div class="hf-start-year">1997</div>
        <div class="hf-start-text">{{ tt('დაარსდა კომპანია იუ-ჯი-თი', 'UGT was founded') }}</div>
    </div>
</section>