<div class="history-year clearfix">
    <div class="hy-num">
        {{ content.field_title }}
        <div class="hy-num-arrow">{{ svg_icon('chevron-up') }}</div>
    </div>
    <div class="hy-icons">
        {{ content.field_history_events }}
    </div>
</div>