<section class="paragraph-single-tab para-tab-{{ paragraph.id() }}" data-tab-id="{{ paragraph.id() }}">
    <h2 class="para-tab-title">{{ content.field_tab_title }}</h2>
    <div class="om-text-content">
        {{ content.field_tab_content }}
    </div>
</section>