{% block content %}
    <section class="om-block">
        <nav class="section-nav">
            <ul class="section-menu">
                {{ content }}
            </ul>
        </nav>
    </section>
{% endblock %}