<!-- Start of footer -->
<footer>
    <!-- Start of footer 1st row -->

    <div class="bg-white">
        <div class="container">
            <nav class="navbar py-3 flex-column flex-lg-row">
                <a
                        class="navbar-brand d-flex align-items-center text-uppercase"
                        href="{{ url("<front>") }}"
                >
                    <i
                            class="icon-girchi-logo-alt navbar-brand-sm text-success mr-3"
                    ></i>
                    <span class="text-success font-weight-bold font-size-3"
                    >გირჩი</span
                    >
                    <span class="text-warning  border-left py-1 ml-3 pl-3 font-size-3"
                    >მეტი თავისუფლება</span
                    >
                </a>
                <ul
                        class="navbar-list list-unstyled d-inline-flex font-size-3 ml-lg-auto mr-lg-3 mb-0"
                >
                    <li class="navbar-list-item">
                        <i class="icon-smartphone"></i>
                        <a href="tel:+995551677772">+995 551 677 772</a>
                    </li>
                    <li class="navbar-list-item">
                        <i class="icon-envelope"></i>
                        <a href="mailto:info@girchi.com" class="text-uppercase"
                        >info@girchi.com</a
                        >
                    </li>
                </ul>

                <ul
                        class="navbar-list list-unstyled d-inline-flex font-size-3 mb-0"
                >
                    <li class="navbar-list-item">
                        <a href="https://www.facebook.com/GirchiParty/" target="_blank" class="text-decoration-none">
                            <i class="icon-social-facebook-circular-button"></i
                            ></a>
                    </li>
                    <li class="navbar-list-item">
                        <a href="https://www.instagram.com/girchiparty/" target="_blank" class="text-decoration-none">
                            <i class="icon-social-twitter-circular-button"></i
                            ></a>
                    </li>
                    <li class="navbar-list-item">
                        <a href="https://www.youtube.com/channel/UC6o6176a756vk1nZuzAXy5g" target="_blank" class="text-decoration-none"
                        ><i class="icon-social-youtube-circular-button"></i
                            ></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container">
        {{ page.footer }}
        <div class="py-4">
            <p
                    class="text-grey font-size-1 text-uppercase text-center text-lg-left mb-0"
            >
                © ყველა უფლება დაცულია. გირჩი {{ "now"|date("Y") }}.
            </p>
        </div>
    </div>
    <!-- End of footer 1st row -->
</footer>
<!-- End of footer -->